:root{
    --shadowColor: #4d4d4d;
    --shadowColorActive: #636363;

    --textField:#1a1c23;

    --electricBlue: #00bfff;
    
    --repositoryButton: #005977;
    --repositoryButtonHover:#0888b3;
    --repositoryButtonActive: #23acd9;

    /*--proyectLink: #*/
}
